[submodule "phantasma"]
	path = phantasma
	url = git@github.com:/jdb19937/phantasma
[submodule "ison"]
	path = ison
	url = git@github.com:/jdb19937/ison
[submodule "crispus"]
	path = crispus
	url = git@github.com:/jdb19937/crispus
